@mixin media-breakpoint-up($bp) {
	@media screen and (min-width: $bp) {
		@content;
	}
}

@mixin media-breakpoint-down($bp) {
	@media screen and (max-width: $bp) {
		@content;
	}
}

$maxWidth: 1300;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
